:host{display: none;}
.justify-content{margin-right: 3px;display: inline-flex;}
.align-items{margin-left: 3px;display: inline-flex;}

/* Selection Capability */
:host([data-selection-type="container"]){display: block;}
:host([data-selection-type="media"]){display: block;}
:host([data-selection-type="text"]){display: block;}
/*
:host([data-selection-type="videohtml"]){display: block;}
:host([data-selection-type="documenthtml"]){display: block;}
:host([data-selection-type="audiohtml"]){display: block;}