
:host{display: none;}
.prop-background-color::part(label-svg){border:1px solid #383838;background-color: var(--value, inherit)}


/* Selection Capability */
:host([data-selection-type="canvas"]){display: block;}
:host([data-selection-type="container"]){display: block;}
:host([data-selection-type="text"]){display: block;}
:host([data-selection-type="page"]){display: block;}
:host([data-selection-type$="shape"]){display: block;}

/* Dark Theme */
:host([data-theme="dark"]) .prop-background-color::part(label-svg){border-color: #fff;}