:host{display: block;--modal-width: 60vw;--modal-height: 85vh;}
.section{display: flex;flex-direction: column;}
.header{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;padding:15px 20px;border-bottom:2px solid #ccc;/*! height: 58px; */}
.title {margin-bottom: 0;}

.kshortcuts{padding: 20px;display: flex;flex-wrap: wrap;gap:30px;}
.kshortcuts-colm{width: calc(33% - 10px);}
.kshortcuts-item{display: flex;align-items: center;gap:8px;}
.kshortcuts-item + .kshortcuts-item{margin-top: 7px;}
.kshortcuts-item svg{--width: 18px;fill: #383838;}
.kshortcuts-item-name{margin-right: auto;}
.kshortcuts-item kbd{display: inline-block;background: #283838;color: #fff;padding: 4px 6px;min-width: 29px;text-align: center;border-radius: 4px;}
.move-tool svg{rotate: -80deg;color: transparent;stroke: #383838;stroke-width: 60px;position: relative;top: 2px;}
.lock-tool svg{fill: transparent;stroke: currentColor;stroke-width: 2px;}


:host([data-theme="dark"]) .move-tool svg{stroke: #fff;}