:host{display: none;}
.border-width-input::part(label-svg) {width: 22px;height: 22px;}
.all-border-button::part(svg){width: 16px;height: 16px;}

.prop-border-color::part(label-svg){border:1px solid #383838;background-color: var(--value, inherit)}

[class*="border-width-input"]::part(custom-icon){width: 13px;height: 13px;display: inline-flex;border: 2px dotted currentColor;position: relative;}
.border-width-input-top::part(custom-icon) {border-top-style: solid;}
.border-width-input-right::part(custom-icon) {border-right-style: solid;}
.border-width-input-bottom::part(custom-icon) {border-bottom-style: solid;}
.border-width-input-left::part(custom-icon) {border-left-style: solid;}

.single-border-width{display: none;}
.module-row:has(.toggle-all-width) .single-border-width{display: block;}

.border-style-colm{display: var(--display, block);}
.stroke-dasharray-colm{display: var(--display, none);}

/* Selection Capability */
:host([data-selection-type="sectionhtml"]){display: block;}
:host([data-selection-type="imghtml"]){display: block;}
:host([data-selection-type="texthtml"]){display: block;}
:host([data-selection-type$="svg"]){display: block;}
:host([data-selection-type$="svg"]) .stroke-dasharray-colm{--display: block;}
:host([data-selection-type$="svg"]) :where(.all-border-button-colm, .border-style-colm){--display: none;}
/*
:host([data-selection-type="videohtml"]){display: block;}
:host([data-selection-type="documenthtml"]){display: block;}
:host([data-selection-type="audiohtml"]){display: block;}*/