:host{display: none;}
.add-effect-button::part(svg){width: 17px;height: 17px;}

.filter-grayscale::part(label-svg){--width:16px;--height:16px;}
.filter-opacity::part(label-svg){--width:16px;--height:16px;}
.filter-hue-rotate::part(label-svg){--width:16px;--height:16px;}
.filter-invert::part(label-svg){--width:16px;--height:16px;}
.filter-saturate::part(label-svg){--width:16px;--height:16px;}
.filter-sepia::part(label-svg){--width:16px;--height:16px;}

[data-filter-visible="true"]::before{mask-image: url(/assets/images/eye.svg);}
[data-filter-visible="false"]::before{mask-image: url(/assets/images/eye-off.svg);}

.filter-item-column{display: flex;justify-content: flex-start;align-items: center;gap:0px;display: none;}
.filter-item-column .module-col-title{max-width:60px;margin-right: 8px;text-align: right;}
.filter-item-column kia-prop-input{margin-right: 8px;}

.filter-items-row[data-active-filters*="--blur"] [data-filter="blur"]{display: flex;}
.filter-items-row[data-active-filters*="--brightness"] [data-filter="brightness"]{display: flex;}
.filter-items-row[data-active-filters*="--contrast"] [data-filter="contrast"]{display: flex;}
.filter-items-row[data-active-filters*="--grayscale"] [data-filter="grayscale"]{display: flex;}
.filter-items-row[data-active-filters*="--hue-rotate"] [data-filter="hue-rotate"]{display: flex;}
.filter-items-row[data-active-filters*="--invert"] [data-filter="invert"]{display: flex;}
.filter-items-row[data-active-filters*="--saturate"] [data-filter="saturate"]{display: flex;}
.filter-items-row[data-active-filters*="--sepia"] [data-filter="sepia"]{display: flex;}
.filter-items-row[data-active-filters*="--opacity"] [data-filter="opacity"]{display: flex;}

.filter-items-row[data-active-filters*="--blur"] kia-select::part(blur){display: none;}
.filter-items-row[data-active-filters*="--brightness"] kia-select::part(brightness){display: none;}
.filter-items-row[data-active-filters*="--contrast"] kia-select::part(contrast){display: none;}
.filter-items-row[data-active-filters*="--grayscale"] kia-select::part(grayscale){display: none;}
.filter-items-row[data-active-filters*="--hue-rotate"] kia-select::part(hue-rotate){display: none;}
.filter-items-row[data-active-filters*="--invert"] kia-select::part(invert){display: none;}
.filter-items-row[data-active-filters*="--saturate"] kia-select::part(saturate){display: none;}
.filter-items-row[data-active-filters*="--sepia"] kia-select::part(sepia){display: none;}
[data-remaining-filter="no"] :where(.filter-options-colm, .add-filter-colm){cursor: not-allowed;}
[data-remaining-filter="no"] :where(.filter-options-colm *, .add-filter-colm *){pointer-events: none;}

:host([data-selection-type="container"]){display: block;}
:host([data-selection-type="text"]){display: block;}

/* Selection Capability */
/*
:host([data-selection-type="media"]){display: block;}
:host([data-selection-type="shape"]){display: block;}
:host([data-selection-type="videohtml"]){display: block;}
:host([data-selection-type="documenthtml"]){display: block;}
:host([data-selection-type="audiohtml"]){display: block;}*/