:host{display: block;}
.section{width:85vw;height: 85vh;border:1px solid #ccc;display: flex;flex-direction: column;}
.header{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;padding:15px 20px;border-bottom:2px solid #ccc;}
.title {margin-bottom: 0;}
.title-link {color: inherit;text-decoration: none;}


.tab{padding: 0 5px 20px 15px;display: flex;flex-direction: column;flex-grow: 1;height: 100px;}

.tabmenu{display: flex;justify-content: flex-start;align-items: center;gap: 2px;margin-top: 8px;padding-right: 20px;}
.tabmenu-item{display: inline-flex;justify-content: center;align-items: center;padding: 6px 14px;background-color: #383838;position: relative;color: #fff;font-size: 13px;user-select: none;border:2px solid #383838;font-weight: 500;cursor: pointer;}
.tabmenu-item.active{background-color: transparent !important;color: #383838 !important;pointer-events: none;}

.font-search{height: 34px;padding: 0 8px;width: 100%;max-width: 300px;margin: 0 10px 0 auto;outline: 2px solid #ccc;border-radius: 4px;border:none;}
.font-search:focus{outline: 2px solid #0d99ff;}
[data-target="downloaded"].active ~ .font-search{display: none;}

.tabcontents{flex-grow: 1;height: 100px;padding-top: 20px;}
.tabcontent{height:100%;display: none;pointer-events: none;}
.tabcontent.active{display: block;pointer-events: auto;}

.font-item{transition-property: opacity;opacity: 1;transition-duration: 0.5s;line-height: 1.2;letter-spacing: 2px;padding: 15px;border: 2px solid #e6e6e6;border-radius: 8px;}
.font-item.deleting{outline:2px solid red;outline-offset: -2px;opacity: 0;}
.font-items{height: 100%;display: flex;flex-direction: column;gap:15px;}

.font-item-button{display: inline-flex;width: 40px;height: 32px;background: #0d99ff;border: none;border-radius: 4px;justify-content: center;align-items: center;cursor: pointer;}

.font-item-button::before{content: '';background-color: #fff;mask-repeat: no-repeat;mask-position: center center;mask-size: 14px auto;width: 20px;height: 20px;mask-size: 30px 30px;}

.font-item-button[data-action="add"]::before{mask-image: url(/assets/images/plus-solid.svg);mask-size: 18px 20px;}

.font-item-button[data-action="added"]{background-color: #008000;pointer-events: none;}
.font-item-button[data-action="added"]::before{mask-image: url(/assets/images/check-solid-full.svg);mask-size: 18px 20px;}

.font-item-button[data-action="delete"]{background-color: #b71c1c;}
.font-item-button[data-action="delete"]::before{mask-image: url(/assets/images/trash-icon.svg);mask-size: 18px 20px;}

.font-item-title{font: var(--body-font);font-size: 16px;line-height: 1.5;letter-spacing: 2px;margin-bottom: 5px;letter-spacing: normal;display: flex;justify-content: space-between;align-items: center;}
.font-item-uppercase{font-size: 40px;}
.font-item-lowercase{font-size: 35px;margin-top:10px;}
.font-item-numbers{font-size: 30px;margin-top:10px;}
.font-item-uppercase:focus, .font-item-lowercase:focus, .font-item-numbers:focus{outline: none;}

.nofont-text{font-size: 22px;line-height:1.5;font-weight: 500;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center;}
.nofont-text u{cursor: pointer;}
.font-items:has(.font-item) + .nofont-text{display: none;}
.search-fount-name::before{content: var(--search-fount-name);}




