kia-right-header, kia-css-appearance, kia-css-appearance, kia-css-fill, kia-css-filter, kia-css-layout, kia-css-position, kia-css-stroke, kia-css-tag, kia-css-typography{border-bottom: 1px solid #e6e6e6;}

::part(module-section){padding: 10px;}
::part(module-header){display: flex;justify-content: space-between;align-items: center;margin-bottom: 10px;}
::part(module-title){margin: 0;user-select: none;}
::part(module-col-title){margin-bottom: 4px;color: #7b7b7b;width: 100%;}
::part(module-last-btn-col){margin-left: auto; display: var(--display, inline-flex); justify-content: flex-end; align-items: center;}

::part(module-row){display: flex;justify-content: flex-start;align-items: flex-end;flex-wrap: wrap;gap: 8px;}
::part(module-row) + ::part(module-row){margin-top: 8px;}
::part(module-col){width: 38%;}
::part(w16){width: 16%;}
::part(w50){width: 50%;}
::part(w55){width: 55%;}
::part(w76){width: 76%;}
::part(w78){width: 78%;}
::part(w79){width: 79%;}
::part(w80){width: 80%;}
::part(w83){width: 83%;}
::part(w98){width: 98%;}
::part(w100){width: 100%;}




