
@import url('variables.css');
@import url('font.css');

*,*::before,*::after {box-sizing: border-box;margin: 0;padding: 0;}
html {scroll-behavior: smooth;}
body {width: 100%;font: var(--body-font);color:#383838;background-color: #ffffff;text-align: left;}

body.loading > *{opacity: 0 !important;pointer-events: none;}
body.loading::before{content:'';position: fixed;top:50%;left:50%;width: 50px;padding: 8px;aspect-ratio: 1;border-radius: 50%;background: #000;--_m: conic-gradient(#0000 10%,#000),linear-gradient(#000 0 0) content-box;-webkit-mask: var(--_m);mask: var(--_m);-webkit-mask-composite: source-out;mask-composite: subtract;animation: body_loader 1s infinite linear;z-index: 1;}
@keyframes body_loader {
    to{transform: rotate(1turn);}
}


/* Requirements */
@media(max-width: 1023px) {
    kia-app{display: none;}
    body::before{display: none;}
    body{position: relative;}    
    body::after {content: '1024\00A0\00A0X \00A0 768';display: flex;justify-content: center;align-items: center;width: 100vw;height: 100vh;font-weight: 700;font-size: 40px;}
}


/* Dark Theme */
body[data-theme="dark"] {color:#fff;background-color: #2c2c2c;}