:host{display: none;}
.upload-asset-btn::part(svg){width: 22px;height: 22px;}
.tag-innertext, .tag-src{border:none;background: #f5f5f5;width: 100%;padding: 6px;border-radius: 4px;margin-top: 4px;display: var(--display, inline-block);}
.tag-innertext{height: 69px;}
.tag-src-colm{display: var(--display, block);}
.tag-src{height: 28px;}
.tag-innertext:focus, .tag-src:focus{outline:2px solid #0d99ff;}

::part(summary) {text-transform: capitalize;}
::part(selection-option){display: none;text-transform: capitalize;}
:host([data-selection-type="sectionhtml"]) kia-select::part(section) {display: block;}
:host([data-selection-type="texthtml"]) kia-select::part(text) {display: block;}

kia-select::part(others){pointer-events: none;font-size: 0px;}
kia-select::part(others)::before{content: attr(data-other-node-name);font-size: 12px;}
kia-select::part(others)::after{opacity: 0;}


/* Selection Capability */
:host([data-selection-type="sectionhtml"]){display: block;}
:host([data-selection-type="sectionhtml"]) :where(.tag-innertext, .tag-src-colm,.upload-asset-colm){--display: none;}
:host([data-selection-type="imghtml"]) {display: block;}
:host([data-selection-type="imghtml"]) :where(.tag-innertext){display: none;}
:host([data-selection-type="texthtml"]) {display: block;}
:host([data-selection-type="texthtml"]) :where(.tag-src-colm, .upload-asset-colm){--display: none;}
:host([data-selection-type$="svg"]) {display: block;}
:host([data-selection-type$="svg"]) :where(.tag-src-colm, .upload-asset-colm, .tag-innertext){--display: none;}
/*
:host([data-selection-type="videohtml"]) {display: block;}
:host([data-selection-type="videohtml"]) :where(.tag-innertext){display: none;}
:host([data-selection-type="documenthtml"]) {display: block;}
:host([data-selection-type="documenthtml"]) :where(.tag-innertext){display: none;}
:host([data-selection-type="audiohtml"]) {display: block;}
:host([data-selection-type="audiohtml"]) :where(.tag-innertext){display: none;}
*/