 
:host {position: fixed;display: flex;justify-content: center;align-items: center;width: 100%;max-width: 250px;z-index: 3;background: #fff;transition: none;max-height: 527px;padding-bottom: 10px;}
:host * {color: #383838;transition: none;}

.wrapper{padding-bottom: 15px;width: 100%;}

.close-popover-button::part(svg){width: 10px;}
:host([data-shadow="drop-shadow"]) .popover-title::before{content:'Drop Shadow';}
:host([data-shadow="text-shadow"]) .popover-title::before{content:'Text Shadow';}
:host([data-shadow="box-shadow"]) .popover-title::before{content:'Box Shadow';}

.effect-field-items{display: flex;flex-wrap: wrap;gap:8px;padding: 10px 10px;}
.effect-field-item{width: 100%;display: flex;gap:8px;justify-content: space-between;align-items: center;user-select: none;}
.effect-blur-radius::part(label-svg){width: 15px;height: 15px;}
.effect-spread-radius::part(label-svg) {fill: none;stroke: currentColor;}
.effect-field-color::part(label-svg) {border: 1px solid #383838;background-color: var(--value, inherit);}
:host :where(.spread-radius-item, .inset-item){display: none;}
:host([data-shadow="box-shadow"]) :where(.spread-radius-item, .inset-item){display: flex;}

kia-input, kia-select{width: 126px;}


:host([data-theme="dark"]) {background: #2c2c2c;}
:host * {color: #fff;}
