:host{display: none;}
.upload-asset-btn::part(svg){width: 22px;height: 22px;}
.tag-innertext, .tag-src{border:none;background: #f5f5f5;width: 100%;padding: 6px;border-radius: 4px;margin-top: 4px;display: var(--display, inline-block);}
.tag-innertext{height: 69px;}
.tag-src-colm{display: var(--display, block);}
.tag-src{height: 28px;}
.tag-innertext:focus, .tag-src:focus{outline:2px solid #0d99ff;}

::part(summary) {text-transform: capitalize;}
::part(selection-option){display: none;text-transform: capitalize;}
:host([data-node-group="container"]) kia-select::part(container) {display: block;}
:host([data-node-group="text"]) kia-select::part(text) {display: block;}

:host([data-node-group="others"]) kia-select::part(summary){pointer-events: none;font-size: 0px;}
:host([data-node-group="others"]) kia-select::part(summary)::before{content: attr(data-other-node-name);font-size: 12px;}
:host([data-node-group="others"]) kia-select::part(summary)::after{display: none;}
:host([data-node-group="others"]) kia-select::part(select-options){display: none;}


/* Selection Capability */
:host([data-selection-type="container"]){display: block;}
:host([data-selection-type="container"]) :where(.tag-innertext, .tag-src-colm,.upload-asset-colm){--display: none;}
:host([data-selection-type="media"]) {display: block;}
:host([data-selection-type="media"]) :where(.tag-innertext){display: none;}
:host([data-selection-type="text"]) {display: block;}
:host([data-selection-type="text"]) :where(.tag-src-colm, .upload-asset-colm){--display: none;}
:host([data-selection-type$="shape"]) {display: block;}
:host([data-selection-type$="shape"]) :where(.tag-src-colm, .upload-asset-colm, .tag-innertext){--display: none;}



 /* Dark Theme */
:host([data-theme="dark"]) .tag-innertext, :host([data-theme="dark"]) .tag-src{background-color: #383838;}