:host {position: fixed;bottom: 35px;left:50%;transform: translateX(-50%);box-shadow: 0px 0px 13px 0 rgba(0,0,0,0.4);z-index: 2;display: block;}
span{display: inline-block;}
svg{width: 24px;height: 24px;max-height: 24px;}

.tools{display: flex;justify-content: space-between;align-items: center;background-color: #fff;padding: 8px 15px;user-select: none;cursor: default;}
.tool-item{display: inline-flex;justify-content: center;align-items: center;min-width: 35px;min-height: 35px;border-radius: 4px;overflow: hidden;padding: 4px;margin:0 6px;}
.tool-item:has(+kia-select){margin-right: 0;}

.tool-item.activetool{background: #0d99ff;color: #fff;pointer-events: none;position: relative;}
.tool-item.activetool svg{color: #fff;}

.svgshape{position: relative;--color: #383838;--background-color: #383838;--border-color: #383838;}
.svgshape::before{content:'';}
.svgshape[data-tool="svgtag"]::before{content:'SVG';position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);font-style: normal;font-size: 13px;font-weight: 600;display: inline-flex;color: var(--color);}
.svgshape[data-tool="rectsvg"]::before{width: 22px;height: 15px;border: 1px solid var(--border-color);}
.svgshape[data-tool="linesvg"]::before{width: 22px;border: 1px solid var(--border-color);rotate: 120deg;}
.svgshape[data-tool="circlesvg"]::before{width: 20px;aspect-ratio: 1/1;border: 1px solid var(--border-color);border-radius: 50%;}
.svgshape[data-tool="ellipsesvg"]::before{width: 24px;aspect-ratio: 2/1;border: 1px solid var(--border-color);border-radius: 50%;}
.svgshape[data-tool="pathsvg"]::before{mask-repeat: no-repeat;mask-size: 24px auto;mask-position: center center;background-color: var(--background-color);width: 100%;height: 100%;display: inline-block;mask-image: url(/assets/images/conversion_path.svg);position: absolute;top: 0;left: 0;}
.svgshape[data-tool] svg{display: none;}
.svgshape[data-tool="moresvg"] svg{display: block;}
.svgshape[data-tool="moresvg"]::before{opacity: 0;}
.svgshape[data-tool="moresvg"] svg path{fill: #383838;}
.svgshape[data-tool="moresvg"].activetool svg path{fill: #fff;}
.svgshape.activetool{--color: #fff;--background-color: #fff;--border-color:#fff;}


.tool-item:has(+ kia-select){margin-right: 0px;font-size: 0px;}
.dropdown-tools-select::part(summary){font-size: 0px;line-height: 0px;background-color: transparent;}
.dropdown-tools-select::part(summary)::after{width:8px;height: 8px;border-width: 2px;border-radius: 1px;}
::part(details){width: 20px;height: 35px;}
::part(summary){color:#383838;padding: 0;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;outline: none;}
::part(summary-down-arrow){width: 14px;}

::part(select-option) {display: flex;align-items: center;justify-content: flex-start;gap: 6px;position: relative;overflow: hidden;color: #383838;}
::part(select-option-i){display: inline-flex;font-style: normal;}
::part(summary-down-arrow) {width: 15px;height: 15px;}
::part(select-option):hover{color: #fff;}
::part(select-options) {top:inherit;bottom: -47px;width: 150px;}
::part(select-option-svg) {color: currentColor;fill: currentColor;}

::part(rect-icon){border:1px solid currentColor;width: 16px;height: 12px;}
::part(line-icon){width: 16px;height: 1px;rotate: 120deg;position: relative;top: 1px;border-bottom:1px solid currentColor;}
::part(circle-icon), ::part(ellipse-icon){border-radius: 50%;overflow: hidden;border:1px solid currentColor;}
::part(circle-icon){width: 15px;height: 15px;}
.tool-item .circle-icon{width: 24px;height: 24px;}
::part(ellipse-icon){width: 16px;height: 8px;}
.tool-item .ellipse-icon{width: 24px;height: 12px;}
::part(moresvg-icon){font-size: 26px;line-height: 17px;position: relative;top: -6px;}


/* Dark Theme */
:host([data-theme="dark"]) .tools{background: #2c2c2c;}
:host([data-theme="dark"]) .tool-item.activetool{background: #545454;}
:host([data-theme="dark"]) ::part(summary){color:#fff;}
:host([data-theme="dark"]) .svgshape[data-tool="svgtag"]::before{color: #fff;}
:host([data-theme="dark"]) ::part(select-option){color: #fff;}
:host([data-theme="dark"]) .svgshape[data-tool="moresvg"] svg path{fill: #fff;}