
:host{display: none;}
.add-effect-button::part(svg){width: 17px;height: 17px;}

[data-effect-visible="true"]::before{mask-image: url(/assets/images/eye.svg);}
[data-effect-visible="false"]::before{mask-image: url(/assets/images/eye-off.svg);}

.effect-item-column{display: flex;justify-content: flex-start;align-items: center;gap:0px;}

.effect-item{display: flex;justify-content: flex-start;align-items: center;gap: 0px;transition-property: opacity;opacity: 1;transition-duration: 0.5s;}
.effect-item.deleting{opacity: 0;}
.effect-name{min-width: 100px;display: inline-flex;background: #f5f5f5;padding: 5px 10px;border-radius: 4px;margin: 0 6px;}
[data-shadow="box-shadow"] .effect-name::before{content:'Box Shadow';}
[data-shadow="drop-shadow"] .effect-name::before{content:'Drop Shadow';}
[data-shadow="text-shadow"] .effect-name::before{content:'Text Shadow';}
.effect-item + .effect-item {margin-top: 8px;}


/* Selection Capability */
:host([data-selection-type="sectionhtml"]){display: block;}
:host([data-selection-type="imghtml"]){display: block;}
:host([data-selection-type="texthtml"]){display: block;}
/*
:host([data-selection-type="videohtml"]){display: block;}
:host([data-selection-type="documenthtml"]){display: block;}
:host([data-selection-type="audiohtml"]){display: block;}
*/